* {
  box-sizing: border-box;
  margin: 0%;
}
.form {
  width: 70%;
  height: 520px;
  border-color: black;
}
.organization {
  width: 365px;
}
.address1, .address2{
	width:380px;
}
.city{
  width: 345px;
}